


header {
    color: black;
    padding: 0px;
  }
  
  .navbar {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 205, 146);

  }
  
  .logo img{
    max-height: 60px;
  }
  



.banner-wrap {
    object-fit: cover;
    position: relative;
    z-index: -1;
    padding:

}


body{
    background-color:bisque
}

.section{
  height: 100vh;
  width: 100%;
  padding: 3rem 4rem;
  box-sizing: border-box;
}

/* .section1 { 
  position:relative; 
} */

.video-container {
    position:relative;
  
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
  }
.display-1{
  color:darkgreen;
  font-size: 20px;
  align-self: center;
  z-index: 1;
}



  /* Style the video: 100% width and height to cover the entire window  */
  #myVideo {
    object-fit: cover;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -1,
  }
  

  /* Add some content at the bottom of the video/page */
  /* .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  } */
  
  /* Style the button used to pause/play the video */
  /* #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  } */











footer {
    background-color: #333;
    color: #ffc107;
    text-align: center;
    padding: 10px;
}

/* Responsive screen, for different devices */

@media (max-width: 600px){
header{
    padding: 10px;
}
nav{
    display: none;
}
navl ul{
    text-align: center;
}
nav li{
    display: block;
    margin-bottom: 10px;
}
main{
    padding: 10px;
}
.section{
    margin: 5px;
    padding: 10px;
}
}
@media (min-width: 601px) and (max-width: 900px){
header{
    padding: 15px;
}
nav ul{
    text-align: center;
}
nav-li{
    display: inline-block;
    margin-right: 10px;
}
}
@media (min-width: 901px){
main{
    justify-content: space-between;
}
}